<section class="posts-section">
  <% if notice %>
    <p style="margin-bottom: 12px;"><%= notice %></p>
  <%end%>
  <button class="btn" type="button">
    <%= link_to 'Go back to all posts', posts_path, class:'ass-all-post-btn' %>
  </button>
  <div>
    <div class="user-post">
      <div class="post-header">
        <h2 class="post-title"><%= @post.title  %> by <%= @post.author.name %> </h2>
        <span class="likes-comments-number">
          <% if @post.comments_counter != nil %>
            Comments: <%= @post.comments_counter %>
          <% else %>
            Comments: 0
          <% end %>

          <% if @post.likes_counter != nil %>
            Likes: <%= @post.likes_counter %>
          <% else %>
            Likes: 0
          <% end %>
        </span>
      </div>
      <p><%= @post.text %></p>
      <div class="btns-wrapper">
        <%= button_to "Comment", new_comment_path, method: :get, class: ['like-btn c-btn'] %>
        <%= button_to "Like", likes_path(@post), method: :post, class: ['like-btn'] %>
        <% if can? :destroy, @post %>
          <%= button_to "Delete Post", post_path(@post), method: :delete, class: ['like-btn d-btn']%>
        <%end%>
      </div>
    </div>
    <ul class="post-comments">
      <% @post.top_5_comment.each do |comment| %>
        <li class="comment"><%= comment.author.name%>: <%=comment.text%></li>
        <% if can? :destroy, comment %>
          <%= form_with url: "/users/#{@post.author.id}/posts/#{@post.id}/comments/#{comment.id}" , method: :delete do |f|%>
          <%= f.submit 'Delete', class: 'like-btn d-btn' %>
          <%end%>
        <%end%>
      <% end %>
    </ul>
  </div>
</section>